<% provide(:title, "Help") %>
<h1>ヘルプ</h1>
  <h2>このサイトについて</h2>
    <p>このサイトは、東京大学ゆみの会の物品管理サービスです。「サルでもわかる」をモットーに、サークル員誰でも使えるサイトづくりを目指しています。</p>
    <p>自分の使用しているサークル弓を登録してください。</p>
  <h2>ページ説明</h2>
    <li>ヘルプ</li>
      <p>このページです。</p>
    <li>個人ページ</li>
      <p>あなたが使用している道具の情報が表示されます。</p>
    <li>問い合わせ</li>
      <p>グーグルフォーム形式で、ゆみの会道具係に連絡することができます。</p>
