// Place all the styles related to the Stuffs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.menu {
  background-color:#f0e68c;
  font-size:20px;
  color:#ffa500;
  padding:15px 20px 10px 20px;
  margin-top:35px;
  margin-right:5px;
  border-radius:10px;
  float: right;
  text-decoration: none;
}

table {
  background-color:#afeeee;
  border:solid 1px black;
  font-size:25px;
  width:80%;
  height:65%;
  table-layout:fixed;
  margin:0 auto;
  margin-top:80px;
  text-align:center;
  border-collapse:collapse;
  td {
    padding-top:10px;
    padding-bottom:10px;
  }
}

.td{
  width:30%;
}
.td2{
  //width:60%;
}
